body {
    background-color: #4b4c4c;
    color: white;
    font-family: 'Barlow', sans-serif;
}

nav {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #303030;
}

#game-image-input {
    border-right: 3px solid #67c0f7;
}

#main-row {
    background-color: #3c3c3c;
    padding: 50px;
    margin-bottom: 0px !important;
}

#main-pic {
    margin-left: 20%; 
    text-align: left; 
    margin-left: 0px;
    width: 100%;  
    padding-right: 40px; 
} 

.section-title {
    margin-top: 0px;
    font-size: 20px; 
    text-align: left; 
    font-weight: 500;
    color: white;
}

#description-body {
    font-size: 15px; 
    line-height: 22px;
    text-align: left; 
    font-weight: 300;
}

#description-input {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #5299c5;
}

.related-game {
    margin-bottom: 5rem;
}

#title {
    margin-top: 0px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.game-summary {
    text-align: left;
    margin-top: 0px;
    margin-left: 40px;
    line-height: 22px;
}

.subtitle {
    margin-top: 1.5rem;
    font-size: 15px;
    font-weight: 500;
    color: #67c0f7;
}

span {
    font-weight: 300;
    color: white;
}

.btn {
    background-color: #67c0f7;
    margin-bottom: 2rem;
    font-weight: 500;
}

.btn:hover {
    background-color: #3498d6;
}

/* Mobile Responsive */

@media only screen and (max-width: 600px) {
    #game-image-input {
        border: none;
    }

    #main-pic { 
        padding-right: 0px; 
    }

    .game-summary {
        margin-left: 5px;
    }   
}