body {
    background-color: #4b4c4c;
    color: white;
    font-family: 'Barlow', sans-serif;
}

#line {
    background-color: white; 
    width: 5px; 
    height: 500px;
   }

nav {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #303030;
}

.container {
    margin-top: 4rem;
}

.row {
    text-align: center;
}

#search-input{
    font-family: 'Barlow', sans-serif;
    border-bottom-color: #67c0f7 !important;
    color: white;
    padding-left: 10px;
}

.search-box {
    margin-top: 70px;
}

.fa {
    color: white;
}

.fa:hover {
    color: #67c0f7;
}

#main-pic { 
    text-align: left; 
    margin-left: 0px; 
} 

.title-section {
    font-size: 18px; 
    text-align: left; 
}

h6 {
    font-size: 16px; 
    line-height: 22px;
    text-align: left; 
}

/* .btn-flat {
    background-color: #67c0f7;
} */

.btn-flat:hover {
    background-color: transparent;;
}