body {
    background-color: #4b4c4c;
    color: white;
    font-family: 'Barlow', sans-serif;
}
nav {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #303030;
}
.container {
    padding-top: 30px;
}

.row {
    text-align: center;
}

#landing-description {
    text-align: left;
}

#search-input{
    font-family: 'Barlow', sans-serif;
    border-bottom-color: #67c0f7 !important;
    color: white;
    padding-left: 10px;
}

.search-box {
    margin-top: 70px;
}

.fa {
    color: white;
}
.vl {
    border-left: 6px solid white; 
    height: 200px; 
    position:absolute; 
    left: 50%; 
}

.fa:hover {
    color: #67c0f7;
}

/* .btn-flat {
    background-color: #67c0f7;
} */

.btn-flat:hover {
    background-color: transparent;;
} 

